body {
	margin: 0;
	padding: 0;
	background-color: #FFFFFF;
	font-family: Verdana, sans-serif;
	font-size: 0.9em;
}

#container {
	width: 865px; /* subtract 40px from banner width for padding */
	margin: 0 auto;
}

#content {
	padding: 0 20px 10px 20px;
}

#sidebar {
	font-size: 0.9em;
	width: 225px;
	float: right;
	background: #EAECEE;
	padding: 0 15px 5px 15px;
}

#sidebar ul {
	padding-left: 30px;
}

.frame {
	border: 1px solid gray;
}

.footer {
	text-align: center;
	font-family: Arial, Verdana, sans-serif;
	font-size: 11px;
	padding: 1em 0 1em 0;
}

.title {
	font-size: 22px;
}

code {
	font-size: 1.1em;
}

.messages {
	list-style-type: none;
}

.invalid {
	color: red;
}

.warn {
	color: orange;
}

.valid {
	color: green;
}

a {
	color: black !important;
}

.menu {
	padding: 13px;
	margin-right: -12px;
}

.active {
	background-color: rgba(166, 166, 174, 0.94);
}

.inactive {
	background-color: rgba(166, 166, 174, 0.26);
}

.formcell {
	padding: 4px 28px 5px 0;
}